@import "tailwindcss";

body{
    background-color: white;
    color: black;
}
@keyframes bg-move {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .animate-[bg-move_3s_infinite_linear] {
    animation: bg-move 3s infinite linear;
  }
html {
  scroll-behavior: smooth;
}